* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   background-color: #f4f4f4;
   color: #333;
   font-family: Arial, Helvetica, sans-serif;

}



.title {
   font-size: 40px;
   font-weight: bold;
   padding: 10px 0;
   text-align: center;
   text-shadow: 2px 2px 2px rgba (0, 0, 0, 0.5);
}

.loginBar {
   display: flex;
   flex-direction: column;
}

.loginInput {
   border-radius: 5px;
   padding: 10px 20px;
   font-size: 16px;

   margin: 10px 30px;
   border: 1px solid #ccc;

}

.loginButton {
   border-radius: 5px;
   padding: 10px 20px;
   font-size: 16px;

   margin: 10px 30px;
   border: 1px solid #ccc;
}

.smthWrong {
   color: #d9534f;
   font-size: 14px;
   font-weight: bold;
   margin-top: 5px;
   background-color: #f8d7da;
   padding: 10px;
   border: 1px solid #f5c6cd;
   text-align: center;
}