.container {
   max-width: 1000px;
   min-height: 80vh;
   margin: 20px auto;
   box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
   border-radius: 30px;
   padding: 50px 30px;
   background: linear-gradient(45deg, rgb(255, 210, 123), rgb(244, 241, 244), rgb(218, 227, 247));
}

@media(max-width: 850px) {
   .container {
      margin: 0;
      min-height: 100vh;

   }
}

@media(max-width: 650px) {
   .container {
      margin: 0;
      border-radius: 0;
      padding: 10px 10px;

   }
}