* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   background-color: #f4f4f4;
   color: #333;
   font-family: Arial, Helvetica, sans-serif;

}

.title {
   font-size: 40px;
   font-weight: bold;
   padding: 10px 0;
   text-align: center;
   text-shadow: 2px 2px 2px rgba (0, 0, 0, 0.5);
}

.addBar {
   margin: 20px 30px;
   display: flex;
   align-items: center;
   flex-direction: column;
   border-radius: 15px;
   padding: 10px 20px;
}

.toDoInput {

   border-radius: 15px;
   margin: 10px 0;
   padding: 40px 10px;
   font-size: 16px;
   width: 600px;
   border: 1px solid #ccc;

}

.addButton {
   border-radius: 15px;
   padding: 15px 20px;
   font-size: 14px;
   border: 1px solid #ccc;
   margin: 0 5px;
}



.toDoItems {
   display: flex;
   flex-direction: column;
   align-items: center;

}

.toDoItem {
   border: 1px solid #ccc;
   border-radius: 15px;
   padding: 10px 20px;
   width: 800px;
   display: flex;
   list-style-type: none;
   justify-content: space-between;
   margin-bottom: 15px;
   align-items: center;

}

.linkButton {
   background: inherit;
   border: none;
   font-size: 18px;
   border-bottom: 2px solid #000000;
}

.linkButton:hover {
   border-bottom: 2px solid #c91010;
   color: red;
}